<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-12">
            <div class="row pb-2">
                <div class="col-md-12">
                    <h2>Cities</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div *ngFor="let county of countyList" class="list-group">
                        <a [routerLink]="['/post/location', county.cityId, 'listings']" class="list-group-item list-group-item-action">
                            {{county?.name}}
                        </a>
                        <ul>
                            <li *ngFor="let city of county.sublocations">
                                <a [routerLink]="['/post/location', county.cityId, city.value, 'listings']"
                                    class="list-group-item list-group-item-action">
                                    {{city.display}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
