<div class="container-fluid py-3">
    <div class="row">
        <div class="col-md-12">
            <div class="row pb-2">
                <div class="col-md-12">
                    <h2>Cities</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="list-group">
                        <a *ngFor="let city of citiesList" [routerLink]="city?.routerLink" class="list-group-item list-group-item-action">{{city?.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
